@import "variables.css";

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

div.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

aside {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #fff;
}

    aside .sidebar-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        aside .sidebar-title img {
            width: 80%;
        }


div.menu ul {
    list-style-type: none;
    margin-top: 20px;
}

    div.menu ul li {
        width: 100%;
        padding: 13px 20px;
    }

        div.menu ul li a {
            text-decoration: none;
            font-size: 1.04rem;
            color: black;
        }

            div.menu ul li a:hover {
                color: var(--color-primary-hover);
                text-decoration: none;
            }

            div.menu ul li a > img {
                width: 27.5px;
                height: 27.5px;
                margin-right: 8px;
            }

.manual {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 10px 20px;
    text-decoration: none;
}

    .manual img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    .manual span{
        color: var(--color-text-gray);
    }


.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    background-color: #fff;
    padding: 10px 30px;
}

    .flex-dashboard header a {
        text-decoration: none;
        color: var(--color-text-gray);
    }

        .flex-dashboard header a.logout {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


            .flex-dashboard header a.logout:hover {
                color: var(--color-primary-hover);
                text-decoration: none;
            }

            .flex-dashboard header a.logout > img {
                width: 25px;
                height: 25px;
            }

main {
    display: block;
    height: 100%;
    background-color: var(--color-background);
    width: calc(100% - 300px);
}

div.conteudo {
    padding: 30px;
    width: 100%;
    height: calc(100% - 85px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    div.conteudo::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    div.conteudo::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    div.conteudo::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: var(--color-primary);
    }

    div.conteudo h4 {
        font-display: initial
    }

.card {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px ) !important;
    border-radius: 10px;
}
