@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

form{
    width: 95%;
}

li.selected {
    background-color: var(--color-primary-transparent);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

li.selected a:hover {
    color: #fff;
}


.flex-menu {
    display: flex;
    flex-direction: column;
}

.form-space {
    margin-bottom: 25px;
}

input[type=text] {
    width: 100%;
    border-radius: 7px;
    border: 2px solid var(--color-primary);
}

.btn-outline-primary {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: var(--color-primary);
    }

table {
    font-family: 'Poppins', sans-serif;
}

th, td {
    padding-left: 13px;
    font-size: 0.9rem;
}

tr {
    font-size: 0.95rem;
}

.modal-body input{
    margin-bottom: 16px;
}

.botoes-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.hiddencol {
    display: none;
}

.selecionado {
    background-color: #b8a6dd;
}

fieldset {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

legend{
    font-size: 1.25rem;
    color: black;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-menu li{
    margin:2px;
}