@import "variables.css";

@import "dashboard.css";

.input-group {
    border-bottom: 2px solid var(--color-primary);
    margin-bottom: 3rem;
    align-items: center !important;
}

input#txtCode, input#txtName, input#txtCPF,
input#txtCodEmployee, input#txtNomeEmployee, input#txtCpfEmployee,
input#txtRGEmployee, input#txtDtNascEmployee, input#txtTelEmployee,
input#txtCelEmployee, input#txtEnderecoEmployee, input#txtNumEndecEmployee,
input#txtBairroEmployee, input#txtCepEmployee, input#txtCidadeEmployee,
input#txtUFEmployee, input#txtEmailEmployee, input#txtSenhaEmployee,
input#txtDtDeslig {
    outline: 0;
    border-width: 0;
    width: 90%;
}
