@import "variables.css";

@import "dashboard.css";

.input-group {
    border-bottom: 2px solid var(--color-primary);
    margin-bottom: 3rem;
    align-items: center !important;
}

input#txtCode, input#txtRazao, input#txtCNPJ,
input#txtCodSupplier, input#txtRazaoSupplier, input#txtCNPJSupplier, input#txtRazao, input#txtNumTel,
input#txtEndecSupplier, input#txtNumSupplier, input#txtBairroSupplier,
input#txtCEPSupplier, input#txtCidadeSupplier, input#txtUFSupplier{
    outline: 0;
    border-width: 0;
    width: 90%;
}
