@import "variables.css";

@import "dashboard.css";

.input-group {
    border-bottom: 2px solid var(--color-primary);
    margin-bottom: 3rem;
    align-items: center !important;
}

input#txtCode, input#txtName, input#txtCodTpProduct, input#txtNameTpProduct {
    outline: 0;
    border-width: 0;
    width: 90%;
}
