
.vs/SGVEC/v16/.suo
SGVEC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SGVEC/obj/Debug/SGVEC.csprojAssemblyReference.cache
SGVEC/bin/SGVEC.dll
.vs/SGVEC/v16/.suo
SGVEC/bin/SGVEC.pdb
SGVEC/obj/Debug/SGVEC.csproj.FileListAbsolute.txt
SGVEC/obj/Debug/SGVEC.csprojAssemblyReference.cache
SGVEC/obj/Debug/SGVEC.dll
